# Virtual environment
venv/
.env

# -------------------------
# Editor / OS
# -------------------------
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
dist/
build/

# -------------------------
# Test Coverage
# -------------------------
htmlcov/
.coverage
coverage.xml

# -------------------------
# Logs
# -------------------------
*.log
tests
