# Keycloak Settings
KEYCLOAK_CLIENT_SECRET= Generate_client_secret_from_keycloak_here
KEYCLOAK_CLIENT_ID=Enter_client_id_from_keycloak_here
KEYCLOAK_REALM=Enter_realm_name_from_keycloak_here
KEYCLOAK_SERVER_URL=http://localhost:8080

# App Security
# Generate a random string: openssl rand -hex 32
SESSION_SECRET_KEY=generate_a_long_secure_random_string_here

# Environment (dev or prod)
ENV=dev
# Admin Service Client (Backend Only)
KEYCLOAK_ADMIN_CLIENT_ID=enter_admin_client_id_from_keycloak_here
KEYCLOAK_ADMIN_CLIENT_SECRET=generate_admin_client_secret_from_keycloak_here
